<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>核心动画demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>186542181E276A1200EC3461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186542311E276A1200EC3461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1865423C1E276A1200EC3461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
